{%block content %}
{% endblock %}
<div style="background-color: black;font-family:'Open Sans',san-serif;">
    <div class="container">
      <div class="row">
        <div class='col'>
          <ul class="list-inline">
            </br>
              <font style="color:white"><h3>About Todays</h3></font>
              </br>
              <font style="color:white"><h7>Contact_us:</h7></font>
              </br>
              <font style="color:white"><h7>123567789</h7></font>
              </br>
              <button type="button" class="btn btn-outline-light">For Website</button>
              </br>
              </br>
              <a class="fa fa-instagram" href="#" style="font-size:28px; color:#ff0090;margin-right:10px"></a>
              <a class="fa fa-facebook" href="#" style="font-size:28px; color:rgba(55,0,255);margin-right:10px"></a>
              <a class="fa fa-google" href="#" style="font-size:28px; color:#ff0000;margin-right:10px"></a>


          </ul>
        </div>
        <div class="col">
          <ul class="list-inline">
            </br>
            <button type="button" class="btn btn-outline-light">About_us</button>
            </br>
            </br>
            <button type="button" class="btn btn-outline-light">Private policy</button>
            </br>
            </br>
            <button type="button" class="btn btn-outline-light">Terms And Conditions</button>
            </br>
          </ul>
        </div>
        <div class="col">
          <ul class="list-inline">
            </br>
            <button type="button" class="btn btn-outline-light">Resources</button>
            </br>
            </br>
            <button type="button" class="btn btn-outline-light">Partners</button>
            </br>
            </br>
            <button type="button" class="btn btn-outline-light">Overview</button>
          </ul>
        </div>
      </div>
    </div>
    </br>
    <font style="color:white; margin-right:60px"><h7>Copyright 2020 @ About_Todays.Inc</h7></font>
    <a class="p-2 text-muted" href="#"><font style="font-weight: 650" color="0xff616161">Privacy Policy</font></a>
    <a class="p-2 text-muted"><font style="font-weight: 650" color="white">||</font></a>
    <a class="p-2 text-muted" href="#"><font style="font-weight: 650" color="0xff616161">Terms And Conditions</font></a>

  </br>
  </br>
</div>
<!-- CSS only -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
