<!Doctype HTML>
<html>
<head>
<title>Reviews</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="mobile.css">
</head>
<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
			<h1 style="text-align:center" >Redmi Note 9</h1>
			<br>
			<div class="box">
				<br>
				<p class="phead">Key Specifications</p>
				<div class="conatiner-fluid">
					<div class="row">
						<div class="col-md-4" style="padding-left:40px">
							<div class="slideshow-container">
							  
							  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
							  <a class="next" onclick="plusSlides(1)">&#10095;</a>
							  <div class="mySlides fade">
							    <img src="redminote9.jpg" style="width:100%">
							  </div>
							  <div class="mySlides fade">
							    <img src="r3.jpg" style="width:100%">
							  </div>
							  <div class="mySlides fade">
							    <img src="r5.jpg" style="width:100%">
							  </div>
											  
							</div>
							<br>
					
							<div style="text-align:center">
							  <span class="dot" onclick="currentSlide(1)"></span>
							  <span class="dot" onclick="currentSlide(2)"></span>
							  <span class="dot" onclick="currentSlide(3)"></span>
							</div>
						</div>
						<div class="col-md-8">
							<table>
							<tr>
								<th>Launch Date</th>
								<td>30 April 2020</td>
							</tr>
							<tr>
								<th>Processor</th> 
								<td>MediaTek Helio G85</td>
							</tr>
							<tr>
								<th>Variant</th> 
								<td>3GB | 64GB and 4GB | 128GB</td>
							</tr>
							<tr>
								<th>Battery</th> 
								<td>5020 mAh</td>
							</tr>
							<tr>
								<th>Back Camera</th> 
								<td>48MP + 8MP + 2MP + 2MP </td>
							</tr>
							<tr>
								<th>Front Camera</th> 
								<td>13MP In display</td>
							</tr>
							<tr>
								<th>OS</th> 
								<td>Android 10</td>
							</tr>
							<tr>
								<th>Price</th>
								<td>&#8377 13999</td>
							</tr>
							</table>
						</div>
					</div>
				</div>
				<br>
			</div>
			<br>
			<h3 id="full" style="text-align:center">Full Specifications</h3>
			<div class="box">
			<br>
			<p class="phead" >Hardware</p>
			<table class="">
				<tr>
					<th>processor</th>
					<td>MediaTek Helio G85</td>
				</tr>
				<tr>
					<th>Frequecy</th>
					<td>upto 2 Ghz</td>
				</tr>
				<tr>	
					<th>GPU</th>
					<td>ARM G52 MC2, upto 1000Mhz</td>
				</tr>
				<tr>	
					<th>Core</th>
					<td>Octa-core</td>
				</tr>
			</table>
			<br>
			</div>
			<br>
			<div class="box">
			<br>
			<p class="phead" >Display</p>
			<table class="">
				<tr>
					<th>Screen size</th>
					<td>6.53" dot display</td>
				</tr>	
				<tr>	
					<th>Resolution</th>
					<td>2340 x 1080 Full HD+</td>
				</tr>	
				<tr>	
					<th>Protection</th>
					<td>Corning&reg Gorilla&reg Glass 5</td>
				</tr>	
				<tr>	
					<th>Aspect Ratio</th>
					<td>19.5 : 9</td>
				</tr>	
				<tr>	
					<th>Extra features</th>
					<td>Reading mode 2.0 | Full Screen Gestures | Splash proof</td>					
				</tr>
			</table>
			<br>
			</div>
			<br>
			<div class="box">
			<br>
			<p class="phead" >Back Camera</p>
			<table class="">
				<tr>
					<th rowspan="4">Quad</th>
					<td>48MP main camera</td>
					<tr>
					<td>8MP ultra wide angle camera</td>
					</tr>
					<tr>
					<td>2MP macro camera</td>
					</tr>
					<tr>
					<td>2MP depth camera</td>
					</tr>
				</tr>
			</table>
			<br>
			</div>
			<br>
			<div class="box">
			<br>
			<p class="phead" >Front Camera</p>
			<table class="">
				<tr>
					<th>Single</th>
					<td>13MP In-Display</td>
				</tr>
				
			</table>
			<br>
			</div>
			<br>
			<div class="box">
			<br>
			<p class="phead" >Dimension</p>
			<table class="">
				<tr>
					<th>Dimensions</th>
					<td> 162.3 x 77.2 x 8.9mm</td>
				</tr>
				<tr>
					<th>Weight</th>
					<td>199g</td>
				</tr>	
			</table>
			</div>
			<br>
			<div class="box">
			<br>
			<p class="phead" >Network and Connectivity</p>
			<table class="">
				<tr>
					<th>Wi-Fi</th>
					<td>Yes</td>
				</tr>
				<tr>
					<th>Wi-Fi standards supported</th>
					<td></td>
				</tr>
				<tr>
					<th>Wi-Fi Direct</th>
					<td>Yes</td>
				</tr>
				<tr>
					<th>Bluetooth</th>
					<td>v 5.00</td>
				</tr>
				<tr>
					<th>Number of SIMs</th>
					<td>2</td>
				</tr>
				<tr>
					<th>4G on both SIM cards</th>
					<td>Yes</td>
				</tr>
				<tr>
					<th>Both SIM Type</th>
					<td>Nano-SIM GSM</td>
				</tr>
				<tr>
					<th>Both 3G | 4G / VoLTE</th>
					<td>Yes</td>
				</tr>
			</table>
			</div>
			<br>
			<div class="box">
			<br>
			<p class="phead">Sensors</p>
			<table class="" >
				<tr>
					<td style="text-align:center;">Face unlock	| Fingerprint sensor | Compass/ Magnetometer | Proximity sensor	| Accelerometer	| Ambient light sensor | 
						Gyroscope | IR Blaster </td>
				</tr>
			</table>
			<br>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
} 

</script>
</body>
</html>